*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* set color for the navbar backgroud */
header{
    background-color: #262626;
    z-index: 1;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue
}


.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        /* left:-100%; */
        left: 0;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: -999;
    }

    .nav-item{
        margin: 16px 0;
        z-index: 0;
    }

    .nav-menu.active{
        left: 0;
        top: 70px;
        z-index: 0;
    }
}
